In [63]:
print(int(input("Enter the first Number: "))+int(input("Enter the 2nd number: ")))

10

In [64]:
a=5
print(type(a),a)

<class 'int'> 5

In [65]:
print(~94)

-95

In [66]:
print(0 and 1 )

0

In [67]:
print(not 10)

False

In [68]:
print(not 0)

True

In [69]:
print(2&6)

2

In [70]:
print(9&9)
8&2

9

0

In [71]:
print(6<<8)

1536

In [72]:
print(6*2**8)

1536

In [73]:
a=2
b=2
print(id(a),id(b))

4301791880 4301791880

In [74]:
a is b

True

In [75]:
a=8
b=9
b=a
print(id(a),id(b))

4301792072 4301792072

In [76]:
# ternary operations
a=input()[-1]
if int(a)%2==0:
    print("even")
else:
    print("odd")

odd

In [77]:
s="Helllo"
print(s[::-1])

ollleH

In [78]:
print(s[::-1]==s)

False

In [79]:
## String

In [80]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [81]:
[print(i*"*") for i in range(5,0,-1)]

*****
****
***
**
*

[None, None, None, None, None]

In [82]:
n=int(input("Enter the Number: "))
for i in range(1,n+1):
    print(i,oct(i)[2:],
                hex(i)[2:],
                bin(i)[2:]
          ,sep="\t")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
oct(9)[2:]

'11'

In [ ]:
hex(10)

'0xa'

In [ ]:
bin(9)

'0b1001'

In [83]:
n=int(input("Enter the Number: "))
for i in range(n-1,-1,-1):
    print("*"*(i-4),"#","*"*(i-4))
    print(chr(97+i))

 #
e
 #
d
 #
c
 #
b
 #
a

In [35]:
# question 1: find the program for the finding the prime number
a=4
for i in range(2,a//2+1):
    if i%2==0:
        print("not prime")
        break
else:
    print("prime")

not prime

In [11]:
#question 2: find the program for the find the palandrom
s="title"
s="abcba"
if s[::-1]==s:
    print("Pallandrom")
else:
    print("not")

Pallandrom

In [ ]:
## Question 3: write a program for the swap the 2 numbers 
a,b=b,a

In [22]:
#question 4: write a prgrom for the print the date in the way like on the 1 is monday and so on
days=["mon","tues","wed"]
week=dict()
for day_number,day in enumerate(days,start=1):
    week[day_number]=day

week

{1: 'mon', 2: 'tues', 3: 'wed'}

In [40]:
## Write a program to print the prime number upto n 
n=10
for i in range(1,n+1):
    for j in range(2,(i//2)+1):
        if j%2==0:
            print("not a prime")
            break
    else:
        print(f"{i} is prime")

1 is prime
2 is prime
3 is prime
not a prime
not a prime
not a prime
not a prime
not a prime
not a prime
not a prime

In [ ]:
i=int(input("Enter the Number: "))
for j in range(2,i//2+1):
    if j%2==0:
        print("not a prime")
        break
else:
    print("Prime")

not a prime
Prime

In [73]:
n=int(input("enter the number: "))
val=0
for i in range(2,int(n**0.5)+1):
    print(i)
    if n%i==0:
        val=val+1
    
if val==0:
    print("This is prime")
else:
    print("Not a prime")

2
3
Not a prime

In [6]:
def fun(/,a,b,c=0):
    print(a,b)
fun(a=2,b=8)

SyntaxError: at least one argument must precede / (3912557477.py, line 1)

In [10]:
def fun(*,a):
    print(a)
print(2,3,8,a=29)

TypeError: 'a' is an invalid keyword argument for print()

In [ ]:
def case(a,b,/,c):         ## not to remember 1. this is positional like it must by position only
                                            #2. work only before given /
                            
    print(a,b,c)


case(9,8,c=29)

9 8 29

In [ ]:
def case(a,b,*,c):   ## after * we need to give parameter with the name=value only
    print(a,b,c)


case(9,8,c=29)

9 8 29

In [ ]:
s="apple"

In [14]:
n=["ank","ant"]
for i in n:
    if i.endswith("k"):
        print(i)

ank

In [17]:
s="ap\tple"
s.expandtabs(tabsize=10)

'ap        ple'

In [20]:
s="Apple"
s.find("p")

1

In [24]:
a="thlsks"
print(f"this is {a}")

this is thlsks

In [28]:
age=2839
f"my age is {age}"

'my age is 2839'

In [30]:
name="an"
age=28
city="mumbai"
f"my name is {name} and age is {age} adn living in {city}"

'my name is an and age is 28 adn living in mumbai'

In [31]:
print("{:<10}".format("left"))    # Left align
print("{:>10}".format("right"))   # Right align
print("{:^10}".format("center"))  # Center align

left
     right
  center

In [40]:
s="string{:,}"
s.format(50000)

'string50,000'

In [41]:
print(f"this hinary format of the number is : {int(input())}")

this hinary format of the number is : 2983

In [43]:
num = 255
print(f"Decimal: {num}")     # normal
print(f"Binary: {num:b}")    # binary
print(f"Octal: {num:o}")     # octal
print(f"Hex: {num:x}")       # hexadecimal (lowercase)
print(f"Hex: {num:X}")       # hexadecimal (UPPERCASE)

Decimal: 255
Binary: 11111111
Octal: 377
Hex: ff
Hex: FF

In [48]:
print(f"Hex: {num:e}") 
print(f"Hex: {num:>8}")

Hex: 2.550000e+02
Hex:      255

In [51]:
print(f"Hex: {num:.2f}")

Hex: 255.00

In [55]:
print(f"Hex: {num:%}")

Hex: 25500.000000%

In [74]:
s="hello"
l=[]
for i in range(len(s)-1,-1,-1):
    # print(s[i])
    l.append(s[i])
print("".join(l))

olleh

In [64]:
print(len("hello"))

5

In [69]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [83]:
def fact(n):
    f=1
    for i in range(n,0,-1):
        f=f*i
    print(f)

fact(5)

120

In [85]:
def fact(n):
    if n==1:
        return 1
    else:
        return fact(n-1)*n
    
fact(5)

120

In [87]:
nums = [10, 20, 4, 45, 99]
mx=max(nums)
n=nums[0]
smx=nums[0]
for i in nums:
    if i<mx and i>n:
        smx=i
print(smx)

45

In [106]:
n=list(set(nums))
n.sort()
n[-2]

45

In [97]:
set(nums)

{4, 10, 20, 45, 99}

In [107]:
#5. Count frequency of characters in a string
s = "banana"
from collections import Counter
Counter(s)

Counter({'a': 3, 'n': 2, 'b': 1})

In [110]:
#5. Count frequency of characters in a string
s = "banana"
d={}
for i in s:
    if i in d.keys():
        d[i]=d[i]+1
    else:
        d[i]=1
d

{'b': 1, 'a': 3, 'n': 2}

In [116]:
#6. Find all prime numbers up to N
n=20
for i in range(1,n+1):
    k=0
    for j in range(2,i):
        if i%j==0:
            k=k+1
    if k==0:
        print(f" {i} is Prime")
    else:
        print(f"{i} is  not Prime")

 1 is Prime
 2 is Prime
 3 is Prime
4 is  not Prime
 5 is Prime
6 is  not Prime
 7 is Prime
8 is  not Prime
9 is  not Prime
10 is  not Prime
 11 is Prime
12 is  not Prime
 13 is Prime
14 is  not Prime
15 is  not Prime
16 is  not Prime
 17 is Prime
18 is  not Prime
 19 is Prime
20 is  not Prime