In [63]:
print(int(input("Enter the first Number: "))+int(input("Enter the 2nd number: ")))

10

In [64]:
a=5
print(type(a),a)

<class 'int'> 5

In [65]:
print(~94)

-95

In [66]:
print(0 and 1 )

0

In [67]:
print(not 10)

False

In [68]:
print(not 0)

True

In [69]:
print(2&6)

2

In [70]:
print(9&9)
8&2

9

0

In [71]:
print(6<<8)

1536

In [72]:
print(6*2**8)

1536

In [73]:
a=2
b=2
print(id(a),id(b))

4301791880 4301791880

In [74]:
a is b

True

In [75]:
a=8
b=9
b=a
print(id(a),id(b))

4301792072 4301792072

In [76]:
# ternary operations
a=input()[-1]
if int(a)%2==0:
    print("even")
else:
    print("odd")

odd

In [77]:
s="Helllo"
print(s[::-1])

ollleH

In [78]:
print(s[::-1]==s)

False

In [79]:
## String

In [80]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [81]:
[print(i*"*") for i in range(5,0,-1)]

*****
****
***
**
*

[None, None, None, None, None]

In [82]:
n=int(input("Enter the Number: "))
for i in range(1,n+1):
    print(i,oct(i)[2:],
                hex(i)[2:],
                bin(i)[2:]
          ,sep="\t")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
oct(9)[2:]

'11'

In [ ]:
hex(10)

'0xa'

In [ ]:
bin(9)

'0b1001'

In [83]:
n=int(input("Enter the Number: "))
for i in range(n-1,-1,-1):
    print("*"*(i-4),"#","*"*(i-4))
    print(chr(97+i))

 #
e
 #
d
 #
c
 #
b
 #
a

In [35]:
# question 1: find the program for the finding the prime number
a=4
for i in range(2,a//2+1):
    if i%2==0:
        print("not prime")
        break
else:
    print("prime")

not prime

In [11]:
#question 2: find the program for the find the palandrom
s="title"
s="abcba"
if s[::-1]==s:
    print("Pallandrom")
else:
    print("not")

Pallandrom

In [ ]:
## Question 3: write a program for the swap the 2 numbers 
a,b=b,a

In [22]:
#question 4: write a prgrom for the print the date in the way like on the 1 is monday and so on
days=["mon","tues","wed"]
week=dict()
for day_number,day in enumerate(days,start=1):
    week[day_number]=day

week

{1: 'mon', 2: 'tues', 3: 'wed'}